<div class="service-text"><h2 id="banner-typed-text" style= "text-align:center;min-height: 25px;"></h2></div>

<div class="search-form-control">
 <%= form_tag services_path, method: :get do %><%= text_field_tag :query, params[:query], class: "form-control", placeholder: "Find a service"%><%= submit_tag "Search", class: "btn-search btn-primary" %><% end %>
</div>

<div class="main-container d-flex justify-content-between">
  <div class= "cards-container">
        <% @services.each do |service| %>
      <div class="card-trip">
        <%= cl_image_tag service.photo.key %>
        <div class="card-trip-infos">
          <div>
            <h2><%= service.title %></h2>
            <p>find the best <%= service.title %> in town</p>
          </div>
          <div>
            <%= link_to service_path(service), class: 'text-decoration-none' do %>
            <div class="btn btn-primary">book here</div>
            <% end %>
            <h2 class="card-trip-pricing"><%= service.price %> Euros</h2>
          </div>
        </div>
      </div>
      <% end %>

</div>


<div id="map"
     style="width: 100%; height: 100vh;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
</div>

<!-- <div class="row">
  <%# @services.each do |service| %>
  <div class="co-12 colsm-6 col-md-4">
    <%#= link_to service_path(service), class: 'text-decoration-none' do %>
    <div class="card-category my-4" data-aos="zoom-in" style="card-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path('facial_service.png') %>)">
      <%#= service.title %>
    </div>
    <%# end %>
  </div>
</div> -->
