
<h1 style= "text-align:center">BEAUTY FIRST</h1>
<div class= "cards-container">
 <div class="card-trip">
    <%= image_tag "manicure" %>
    <div class="card-trip-infos">
      <div>
        <h2>Manicure</h2>
        <p>find the best manicure in town</p>
      </div>
      <div>
        <a href="#" class="btn btn-primary">book here</a>
        <h2 class="card-trip-pricing">40€</h2>
      </div>
    </div>
  </div>
 <div class="card-trip">
    <%= image_tag "massage" %>
    <div class="card-trip-infos">
      <div>
        <h2>Massages</h2>
        <p>relaxing massage sessions</p>
      </div>
      <div>
        <a href="#" class="btn btn-primary">book here</a>
        <h2 class="card-trip-pricing">60€</h2>
      </div>
    </div>
  </div>
   <div class="card-trip">
    <%= image_tag "hair-cut" %>
    <div class="card-trip-infos">
      <div>
        <h2>Haircut</h2>
        <p>all the best salons of lisbon</p>
      </div>
      <div>
        <a href="#" class="btn btn-primary">book here</a>
        <h2 class="card-trip-pricing">30€</h2>
      </div>
    </div>
  </div>


</div>

<h1>INDEX PAGE</h1>

  <h1>Services</h1>

<div class="row">
  <% @services.each do |service| %>
  <div class="co-12 colsm-6 col-md-4">
    <%= link_to service_path(service), class: 'text-decoration-none' do %>
    <div class="card-category my-4" data-aos="zoom-in" style="card-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path('facial_service.png') %>)">
      <%= service.title %>
    </div>
    <% end %>
  </div>
  <% end %>
</div>

