<h2 class= "display-2"><%= @service.title %></h2>

<div class="container">
  <div class="card-trip-show">
    <div class="img-show">
    <%= cl_image_tag @service.photo.key %>
    </div>
  <div class="card-trip-infos-show">
    <h3 class= "display-3-show"> <%= @service.name %></h3>
    <p class="address-show">Address: <%= @service.address %></p>
    <p class="card-trip-pricing-show"><%= @service.price %>€</p>
  </div>
    <% if current_user.bookings.where(service: @service).present? %>
      <p class="address-show">You Have a Booking for this Service</p>
     <% else %>
      <%= link_to "BOOK NOW", new_service_booking_path(@service), class: "btn btn-primary btn-a-color show-button" %>
     <% end %>
 <ul class="horaire">
     <li class="far fa-calendar-times"></i> Monday - Friday</li>
     <li class="far fa-clock"></i> 10h / 19h</li>
</ul>
 </div>
</div>

<div class="service-reviews">
  <% @service.reviews.each do |review|  %>
  <%= review.comment %>
  <% end %>

</div>

<div id="map"></div>




