<h2 class= "display-2"><%= @service.title %></h2>

<div class="container">
  <div class="card-trip-show">

<div class="img-show">
    <%= cl_image_tag @service.photo.key %>
</div>


  <div class="card-trip-infos-show">
    <h3 class= "display-3-show"> <%= @service.name %></h3>
    <p class="address-show">Address: <%= @service.address %></p>
    <p class="card-trip-pricing-show"><%= @service.price %>€</p>
  </div>
    <% if current_user.bookings.where(service: @service).present? %>
      <p class="address-show">You Have a Booking for this Service</p>
     <% else %>
      <%= link_to "BOOK NOW", new_service_booking_path(@service), class: "btn btn-primary btn-a-color show-button" %>
     <% end %>
 <ul class="horaire">
     <li class="far fa-calendar-times"></i> Monday - Friday</li>
     <li class="far fa-clock"></i> 10h / 19h</li>
</ul>


<%= link_to "Share a review!", new_service_review_path(@service), class: 'btn btn-primary btn-review'  %>
   <% if @service.reviews.any? %>
 <div class="service-reviews" style='margin: 40px;'>
  <p style='color:black'>Reviewer: <%= @service.reviews.last.user.email %></p>
  <p style='color:black'>Comment: <%= @service.reviews.last.comment %></p>
  <p style='color:black'>Rating:  <% @service.reviews.last.rating.to_i.times do  %><i class="fas fa-star" id="voted"></i> <% end %> <% (5 - @service.reviews.last.rating.to_i).times do  %><i class="fas fa-star" id="didnt-vote"></i> <% end %>
  </p>
</div>
<% end %>

 </div>



<div id="map"
     style="width: 100%; height: 600px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
</div>









