<h2 class= "display-2"><%= @service.title %></h2>

<h3 class= "display-3"> Name of the place : <%= @service.name %></h3>
  <div>
  <% if @service.photo.attached? %>
      <%= cl_image_tag @service.photo.key %>
      <% end %>
  </div>
    <p>address: <%= @service.address %></p>
    <p><%= @service.price %> euros</p>
    <button type="button" class="btn btn-primary btn-a-color"><%= link_to "book here", new_service_booking_path(@service) %></button>
    <ul>
     <li>monday: 10h - 19h</li>
     <li>tuesday: 10h - 19h</li>
     <li>wednesday: 10h - 19h</li>
     <li>thursday: 10h - 19h</li>
     <li>friday: 10h - 19h</li>
     <li>saturday: 10h - 19h</li>
     <li>sunday: 10h - 19h</li>
    </ul>
  </div>
  <% if @service.address.present? %>
<p><span>Location: </span><%= @service.address %></p>
  <div id="map"
       style="width: 100%; height: 150px;"
       data-markers="<%= @markers.to_json %>"
       data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
<% end %>

<div class="container">
  <div class="card-trip-show">
    <div class="img-show">
    <%= cl_image_tag @service.photo.key %>
    </div>
  <div class="card-trip-infos-show">
    <h3 class= "display-3-show"> <%= @service.name %></h3>
    <p class="address-show">Address: <%= @service.address %></p>
    <p class="card-trip-pricing-show"><%= @service.price %>€</p>
  </div>
    <% if current_user.bookings.where(service: @service).present? %>
      <p class="address-show">You Have a Booking for this Service</p>
     <% else %>
      <%= button_to "BOOK NOW", new_service_booking_path(@service), class: "btn btn-primary btn-a-color show-button" %>
     <% end %>
 <ul class="horaire">
     <li class="far fa-calendar-times"></i> Monday - Friday</li>
     <li class="far fa-clock"></i> 10h / 19h</li>
</ul>
 </div>
</div>

<div id="map"></div>




