
<div class="container">

<h4>Choose a booking <%= @service.title %></h4>
        <%= simple_form_for [@service,@booking] do |f| %>
          <%= f.input :start_date, placeholder: 'MM/DD/YYYY' %>
             <%= f.input :end_date, placeholder: 'MM/DD/YYYY' %>
          <%= f.submit class: 'btn btn-primary' %>
        <% end %>
    </div>

