<div class="navbar navbar-expand-sm navbar-light navbar-lewagon content-center">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "logo.png"%>
    <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">


    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <%= link_to services_path do %>
          <div class="nav_icons"><li class="fa fa-shopping-cart"></li></div>
          <div class="hide">Basket</div>
          <% end %>
        <%= link_to destroy_user_session_path, method: :delete do %>
          <div class="nav_icons"><li class="fas fa-warehouse"></li></div>
          <div class="hide">Register</div>
        <% end %>
        <% else %>
        <%= link_to new_user_session_path do %>
          <div class="nav_icons"><li class="far fa-user"></li></div>
          <div class="hide">Log in</div>
           <%= link_to new_user_registration_path do %>
          <div class=" nav_icons"><li class="fas fa-warehouse"></li></div>
           <div class="hide">Register</div>
           <% end %>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>
