
<div class="hero-image">
  <div class="hero-text">
    <h3> Welcome to your first beauty App!</h3>
    <p>Checkout all our services</p>
    <button class="btn btn-primary"><%= link_to "discover", services_path  %></button>
  </div>
 </div>

 <div class="service-text"><h2 id="banner-typed-text" style= "text-align:center;min-height: 25px;"></h2></div>

 <div class="search-form-control">
 <%= form_tag services_path, method: :get do %><%= text_field_tag :query, params[:query], class: "form-control", placeholder: "Find a service"%><%= submit_tag "Search", class: "btn-search btn-primary" %><% end %>
</div>



<div class= "cards-container">
    <% @services.sample(3).each do |service| %>
      <div class="card-trip">
        <%= cl_image_tag service.photo.key %>
        <div class="card-trip-infos">
          <div>
            <h2><%= service.title %></h2>
            <p>find the best <%= service.title %> in town</p>
          </div>
          <div>
            <%= link_to service_path(service), class: 'text-decoration-none' do %>
            <div class="btn btn-primary">Book now</div>
            <% end %>
            <h2 class="card-trip-pricing"><%= service.price %> Euros</h2>
          </div>
        </div>
      </div>
    <% end %>
</div>


<div class="container mx-0 ">
    <h2 class="text-centered">How does it work?</h2>
    <div class="cards-1 d-flex">

      <div class="card-1 col-sm-4  shadow-sm p-3 mb-5 bg-white rounded mx-3 ">
       <%= image_tag "works.png", class: "work w-50 p-3" %>
        <h4 style="color: #B7B7A4 "> Find the best beauty service </h4>
        <p style="color: #cb997e">Locate the best beauty service near you with our dynamic map! </p>
      </div>

      <div class="card-1 col-sm-4 shadow-sm p-3 mb-5 bg-white rounded mx-3">
       <%= image_tag "works.png", class: "work w-50 p-3" %>
        <h4 style="color: #B7B7A4 ">Book through our website </h4>
        <p style="color: #cb997e">Book your appointment, connect directly with your calendar.</p>
      </div>

      <div class="card-1 col-sm-4  shadow-sm p-3 mb-5 bg-white rounded mx-3">
         <%= image_tag "works.png", class: "work w-50 p-3 " %>
        <h4 style="color: #B7B7A4 ">Pay online and give feedback</h4>
        <p style="color: #cb997e">Finally give your feedback to your service, and book again on our website!</p>
      </div>

    </div>
  </div>
